{{ define "body" }}
<h1>All Public Media</h1>
<hr>
<div class="row" data-ng-app="gopher_pi">
  <div class="col-md-6" data-ng-controller="mediaIndexCtrl">
    <table class="table table-striped table-hover">
      <thead>
        <th>No.</th>
        <th>Title</th>
      </thead>
      <tbody>
        {{ range .Media }}
        <tr>
          <td>{{ .Id }}</td>
          <td><a href="/media/{{ .Id }}">{{ .Title }}</a></td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</div>
{{ end }}
