{{ define "body" }}
<h1>Admin Users</h1>
<hr>
<div class="row">
  <div class="col-md-4">
    <a href="/admin/users/new" class="btn btn-primary pull-right">Create New User</a>
    <form class="form-inline">
      <fieldset>
        <div class="form-group">
          <label class="sr-only">Filter list</label>
          <input id="admin-users-input" type="text" value="" class="form-control" placeholder="Filter list">
        </div>
      </fieldset>
    </form>
    <p id="total">Total: <span></span></p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-8">
    <table id="admin-users" class="table table-striped table-hover">
      <thead>
        <th>User Id</th>
        <th>Username</th>
        <th>Admin?</th>
        <th>Action</th>
      </thead>
      <tbody>
        {{ range .Users }}
        <tr>
          <td>{{ .Id }}</td>
          <td>
            <a href="/admin/users/{{ .Id }}">{{ .Username }}</a>
          </td>
          <td>{{ .Admin }}</td>
          <td>
            <a class="delete-user btn btn-danger btn-xs" href="{{ .Id }}">Delete</a>
            <a class="btn btn-primary btn-xs" href="/admin/users/{{ .Id }}/edit">Edit</a>
          </td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</div>
<script>
  $(document).ready(function() {
    deleteItem("a.delete-user", "user", "/admin/users/");

    var navbarList = $('.navbar-admin .navbar-nav').children();
    navbarList.first().removeClass('active');
    navbarList.eq(1).addClass('active');

    $("#admin-users-input").fastLiveFilter("#admin-users tbody", { 
      callback: function(total) { $("#total span").html(total) }
    });
  });
</script>
{{ end }}
