{{ define "body" }}
<h1>admin/users</h1>
<ul>
  {{ range . }}
  <li>{{ .Id }} - {{ .Username }} - [<a class="delete-user" href="{{ .Id }}">X</a>]</li>
  {{ end }}
</ul>
<script>
  $(document).ready(function() {
    console.log("js ready")
    $("a.delete-user").on("click", function(e) {
      e.preventDefault()
      e.stopPropagation()
      
      user_id = $(this).attr("href")
      $.ajax({
        url: "/admin/users/" + user_id,
        type: "DELETE",
        success: function() {
          //delete right dom element
          $(this).parent().remove();
        }
      });
    });
  });
</script>
{{ end }}
