{{ define "body" }}
<h1>Admin Users</h1>
<hr>
<a href="/admin/users/new" class="btn btn-primary">Create New User</a>
<hr>
<div class="row">
  <div class="col-md-8">
    <table class="table table-striped table-hover">
      <thead>
        <th>User Id</th>
        <th>Username</th>
        <th>Admin?</th>
        <th>Action</th>
      </thead>
      <tbody>
        {{ range . }}
        <tr>
          <td>{{ .Id }}</td>
          <td>
            <a href="/admin/users/{{ .Id }}">{{ .Username }}</a>
          </td>
          <td>{{ .Admin }}</td>
          <td>
            <a class="delete-user btn btn-danger btn-xs" href="{{ .Id }}">Delete</a>
            <a class="btn btn-primary btn-xs" href="/admin/users/{{ .Id }}/edit">Edit</a>
          </td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</div>
<script>
  $(document).ready(function() {
    $("a.delete-user").on("click", function(e) {
      e.preventDefault()
      e.stopPropagation()
      
      user_id = $(this).attr("href")
      $.ajax({
        url: "/admin/users/" + user_id,
        type: "DELETE",
        success: function() {
          //delete right dom element
          console.log($(this));
          console.log($(this).parent());
          window.test = $(this);
          $(this).parent().remove();
        }
      });
    });
  });

  $(document).ready(function() {
    var navbarList = $('.navbar-admin .navbar-nav').children();
    navbarList.first().removeClass('active');
    navbarList.eq(1).addClass('active');
  });

</script>
{{ end }}
